.jumbotron {
    background-color: greenyellow;
    color:black;
    font-style: italic;
    margin-top: 50px
}

footer{
    padding: 10px 10px 0 10px;
    background-color: greenyellow;
    margin-bottom: 0px;
    margin-top: 10px;
    font-style: italic;
}

address{
    font-style: italic;
}

.card-auto {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-conoce {
    width: 100%;
    background-color: green;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 20px;
}

.h1-comentario{
    text-align: center;
}