@greenyellow: #adff2f;
@black: #000;
@green: #008000;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.padding(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px){
    padding-top: @top ;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}

.jumbotron {
    background-color: @greenyellow;
    color:@black;
    font-style: italic;
    .margenes(50px, 10px);
}

footer{
    .padding(10px, 10px, 0px, 10px);
    background-color: @greenyellow;
    .margenes(10px, 0px);
    font-style: italic;
}

address{
    font-style: italic;
}

.card-auto {
    flex: 1 200px;
    .margenes(10px, 0px);
}

.btn-conoce {
    width: 100%;
    background-color: @green;
    border-radius: 0px;
}

.footer-address-icon{
    .padding(0px, 20px, 0px, 0px);;
}

.h1-comentario{
    text-align: center;
}