$greenyellow: #addf2f;
$black: #000;
$green: #008000;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding($top, $right, $bottom, $left){
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

@mixin font($style){
    font-style: $style;

}

.jumbotron {
    background-color: $greenyellow;
    color: $black;
    font-style: italic;
    @include margenes(50px, 10px);

}

footer{
    @include padding(10px, 10px, 0px, 10px);
    background-color: $greenyellow;
    @include margenes(10px, 0px);
    @include font(italic);
}

address{
    @include font(italic);
}

.card-auto {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-conoce {
    width: 100%;
    background-color: $green;
    border-radius: 0px;
}

.footer-address-icon{
    @include padding(0px, 20px, 0px, 0px);
}

.h1-comentario{
    text-align: center;
}