.jumbotron {
  background-color: #adff2f;
  color: #000;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 10px;
}
footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #adff2f;
  margin-top: 10px;
  margin-bottom: 0px;
  font-style: italic;
}
address {
  font-style: italic;
}
.card-auto {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-conoce {
  width: 100%;
  background-color: #008000;
  border-radius: 0px;
}
.footer-address-icon {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.h1-comentario {
  text-align: center;
}
